body {
  font-family: "Open Sans", Arial, sans-serif;
  background-color: #eee;
}
#wrapper {
  max-width: 800px;
}
.item {
  width: 75px;
  float: left;
}
#clear-filters {
  cursor: pointer;
}
.product-block {
  margin: 15px;
  padding: 10px;
  background-color: #333;
}
.pager {
  margin: 0px 5px;
}
.pink {
  background-color: pink;
}
.green {
  background-color: green;
}
.brown {
  background-color: brown;
}
